.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    position: relative;
    background-color: rgba(0,0,0,.75    );
    padding: 3em;
    padding-bottom: 0px;
    margin: 25px 10px;
    border-radius: 10px;
    color: white;
    overflow: hidden;
}

.container h1{
    font-size: 3em;
    margin-bottom: 15px;
    font-family: 'Righteous', sans-serif;
}

.music-section{
    margin: 20px 0px;
}

.music-section p{
    padding: 10px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.45em;
}

.music-section blockquote{
    line-height: 1.75;
    font-family: 'Gorditas';
    font-size: 1.45em;
}

.container > p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.45em;
    font-weight: 700;
}
.container > p> span {
    font-weight: 700;
}

#music-video{
    position: absolute;
    margin: 0px;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: -1;
    filter: blur(4px);
}